// nav, footer

@import 'mixins';

body{
    margin: 0;
   // font-family: 'Rubik', sans-serif;
   font-family: 'Merriweather', serif;
}
html{
    width: 100%;
}

h1{
    margin: 0;
}
nav.main-nav{
    background-color: $darkGrey;
    margin: 0;
        div.wrapper{
        @include wrapper;
            ul{
                list-style-type: none; 
                margin: 0;   
                display: flex;   
                justify-content: space-between; 
            }
            a{
                @include linkNav;
                    &:hover{
                        background-color:lighten($darkGrey, 5);
                    }
            }
            #brand{
                font-size: 30px;
                padding: 4px 4px 4px 6px;
                margin-left: 10px;
                border: 1px solid $cream;
                border-radius: 5px;                
            }
    }
} // end #main-nav

footer{
    height: 80px;
    background-color: $darkGrey;
    width: 100%;
            div.wrapper{
            @include wrapper;
            ul{
                width: 80%;
                list-style-type: none;
                display: flex; 
                margin: 0;
                justify-content: space-between;  
                padding: 0 10px 0 0;    
                flex-wrap: wrap; 
                @include mQ(600px){
                    flex-direction: column;
                }    
            }
        
            a{
                @include linkNav;
                    &:hover{
                        background-color: lighten($darkGrey, 5);
                    }
            }
            #brand{
                font-size: 30px;
                padding: 4px 4px 4px 6px;
                margin-left: 10px;
                border: 1px solid $cream;
                border-radius: 5px;
                
            }
        }
        #copy{
            color: $softBrown;
            background-color: $darkGrey;
            text-align: center;
            letter-spacing: 4px;
            font-size: 12px;
            padding: 20px;
        }

}
